<template>
  <PostCard v-if="post" :post="post" :showDetails="false"></PostCard>
  <button type="button" @click="deletePost()">
    {{ "Eliminar" }}
  </button>
</template>

<script>
import PostRepository from "@/repositories/PostRepository";
import PostCard from "./PostCard.vue";
import { getStore } from "@/common/store";

export default {
  data() {
    return {
      post: null,
    };
  },
  components: {
    PostCard,
  },
  mounted() {
    this.fetchData();
  },
  methods: {
    async fetchData() {
      try {
        this.post = await PostRepository.findOne(this.$route.params.id);
      } catch (err) {
        console.error(err);
      }
    },
    async deletePost() {
      let LimitDate = new Date() - new Date(this.post?.timestamp);
      if (
        LimitDate <= 1800000 &&
        this.post.author.login === getStore().state.user.login
      ) {
        return true;
      } else {
        return false;
      }
    },
  },
};
</script>
