<template>
  <div class="container">
    <h1 class="title">Perfil de: {{ this.login }}</h1>
    <h2>Total de Publicaciones: {{ counter() }}</h2>
  </div>
  <div class="mb-3">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xxl-4">
      <div class="col mb-3" v-for="post in posts" :key="post.id">
        <PostCard :post="post"></PostCard>
      </div>
    </div>
  </div>
</template>

<script>
import PostRepository from "../repositories/PostRepository";
import PostCard from "./PostCard.vue";

export default {
  data() {
    return {
      posts: [],
      login: this.$route.params.login,
      count: this.counter,
    };
  },
  components: { PostCard },
  mounted() {
    PostRepository.findAll(this.login, "", "MOST_RECENT").then((response) => {
      this.posts = response;
    });
  },
  methods: {
    counter() {
      return this.posts.length;
    },
  },
};
</script>
<style scoped>
.mb-3 {
  margin: 10px auto;
}
</style>
