<template>
  <div class="register">
    <h1 class="title">Datos Personales</h1>
  </div>
  <form>
    <div class="row g-3">
      <div class="col1">
        <input
          type="text"
          class="form-control"
          placeholder="Nombre"
          aria-label="Nombre"
          id="name"
          v-model="signUpForm.name"
        />
      </div>
      <div class="col1">
        <input
          type="text"
          class="form-control"
          placeholder="Apellidos"
          aria-label="Apellidos"
          id="surname"
          v-model="signUpForm.surname"
        />
      </div>
      <div class="col2">
        <input
          type="text"
          class="form-control"
          placeholder="Usuario"
          aria-label="Usuario"
          id="login"
          v-model="signUpForm.login"
        />
      </div>
      <div class="col2">
        <input
          type="text"
          class="form-control"
          placeholder="Email"
          aria-label="Email"
          id="email"
          v-model="signUpForm.email"
        />
      </div>
      <div class="col3">
        <input
          type="text"
          class="form-control"
          placeholder="Contraseña"
          aria-label="Contraseña"
          id="password"
          v-model="signUpForm.password"
        />
      </div>
    </div>
    <button type="submit" class="btn btn-primary" @click.prevent="signUp()">
      Crear Cuenta
    </button>
  </form>
</template>

<script>
import AccountRepository from "@/repositories/AccountRepository";

export default {
  data: function () {
    //propiedades asociadas a la vista y modelo
    return {
      signUpForm: {
        name: "",
        surname: "",
        email: "",
        login: "",
        password: "",
      },
    };
  },
  methods: {
    async signUp() {
      try {
        const response = await AccountRepository.registerAccount(
          this.signUpForm
        );
        console.log(response);
        this.$router.push("/login");
      } catch (err) {
        alert("El nombre de usuario y contraseña debe contener 4 caracteres");
        console.error(err);
      }
    },
  },
};
</script>

<style scoped>
.register {
  margin: 40px auto;
}
.col1 {
  text-align: left;
  margin: 20px auto;
  max-width: 40%;
}
.col2 {
  text-align: left;
  margin: 15px auto;
  max-width: 40%;
}
.col3 {
  text-align: left;
  margin: 15px auto 30px 5em;
  max-width: 40%;
}
</style>
