<template>
  <div class="card">
    <div class="card-body">
      <p class="card-text">
        {{ tag.name }}
      </p>
      <button type="button" @click="editTag(tag)">
        {{ "Editar" }}
      </button>
      <button type="button" @click="deleteTag(tag.id)">
        {{ "Eliminar" }}
      </button>
    </div>
  </div>
</template>

<script>
import TagRepository from "@/repositories/TagRepository";

export default {
  props: {
    tag: {
      type: Object,
      required: true,
    },
  },
  methods: {
    async editTag(id) {
      await TagRepository.deleteTag(id);
      this.$router.go();
    },
    async deleteTag(id) {
      await TagRepository.deleteTag(id);
      this.$router.go();
    },
  },
};
</script>

<style scoped></style>
