<template>
  <div class="tag">
    <h1 class="title">Lista de Etiquetas</h1>
    <div class="mb-3">
      <div class="col mb-3" v-for="tag in tags" :key="tag.id">
        <TagCard :tag="tag"></TagCard>
      </div>
    </div>
  </div>
</template>

<script>
import TagRepository from "../repositories/TagRepository";
import auth from "@/common/auth";
import TagCard from "@/components/TagCard";
//import TagCardAdmin from "@/components/TagCardAdmin";

export default {
  data() {
    return {
      tags: [],
      auth: auth,
    };
  },
  components: { TagCard },
  mounted() {
    TagRepository.findAll().then((response) => {
      this.tags = response;
      console.log("Response postlist", this.tags);
    });
  },
};
</script>

<style scoped>
.mb-3 {
  margin: 10px auto;
  max-width: 40%;
}
</style>
